name: Buildah build
on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "33 3 * * *"

jobs:
  build:
    name: Build image
    runs-on: ubuntu-latest
    permissions:
      packages: write
      id-token: write
    env:
      IMAGE_NAME: bengt-debug
      IMAGE_TAG: latest
      GHCR_REGISTRY: ghcr.io/bengtfredh
      AZCR_REGISTRY: ocicr.azurecr.io
      AZCR_NAME: ocicr
      CR_IMAGE_NAME: r/bengt-debug
      CR_REGISTRY: cr.fredhs.net
    steps:
      - name: Clone the repository
        uses: actions/checkout@v6

      - name: Buildah Action
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ env.IMAGE_NAME }}
          tags: ${{ env.IMAGE_TAG }}
          containerfiles: |
            ./Containerfile

      - name: Log in to ghcr.io
        uses: redhat-actions/podman-login@v1
        with:
          registry: ${{ env.GHCR_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push to ghcr.io
        id: push-to-ghcr
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ env.IMAGE_TAG }}
          registry: ${{ env.GHCR_REGISTRY }}

      - name: Azure login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Log in to Azure Container Registry
        run: |
          set -euo pipefail
          az acr login --name ${{ env.AZCR_NAME }} --expose-token --query accessToken --output tsv | \
            buildah login --username 00000000-0000-0000-0000-000000000000 --password-stdin ${{ env.AZCR_REGISTRY }}

      - name: Push to Azure Container Registry
        id: push-to-azcr
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ env.IMAGE_TAG }}
          registry: ${{ env.AZCR_REGISTRY }}

      - name: Tag image for cr.fredhs.net
        run: buildah tag ${{ steps.build-image.outputs.image }}:${{ env.IMAGE_TAG }} ${{ env.CR_IMAGE_NAME }}:${{ env.IMAGE_TAG }}

      - name: Log in to cr.fredhs.net
        uses: redhat-actions/podman-login@v1
        with:
          registry: ${{ env.CR_REGISTRY }}
          username: ${{ secrets.CR_FREDHS_NET_USR }}
          password: ${{ secrets.CR_FREDHS_NET_PWD }}

      - name: Push to cr.fredhs.net registry
        id: push-to-crfredhs
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ env.CR_IMAGE_NAME }}
          tags: ${{ env.IMAGE_TAG }}
          registry: ${{ env.CR_REGISTRY }}
