name: Buildah build
on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "33 3 * * *"

jobs:
  build:
    name: Build image
    runs-on: ubuntu-latest
    permissions:
      packages: write
    env:
      IMAGE_NAME: bengt-debug
      IMAGE_TAG: latest
      GHCR_REGISTRY: ghcr.io/bengtfredh
      CR_IMAGE_NAME: r/bengt-debug
      CR_REGISTRY: cr.fredhs.net
    steps:
      - name: Clone the repository
        uses: actions/checkout@v5

      - name: Buildah Action
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ env.IMAGE_NAME }}
          tags: ${{ env.IMAGE_TAG }}
          containerfiles: |
            ./Containerfile

      - name: Log in to ghcr.io
        uses: redhat-actions/podman-login@v1
        with:
          registry: ${{ env.GHCR_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push to ghcr.io
        id: push-to-ghcr
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ env.IMAGE_TAG }}
          registry: ${{ env.GHCR_REGISTRY }}

      - name: Tag image for cr.fredhs.net
        run: buildah tag ${{ steps.build-image.outputs.image }}:${{ env.IMAGE_TAG }} ${{ env.CR_IMAGE_NAME }}:${{ env.IMAGE_TAG }}

      - name: Log in to cr.fredhs.net
        uses: redhat-actions/podman-login@v1
        with:
          registry: ${{ env.CR_REGISTRY }}
          username: ${{ secrets.CR_FREDHS_NET_USR }}
          password: ${{ secrets.CR_FREDHS_NET_PWD }}

      - name: Push to cr.fredhs.net registry
        id: push-to-crfredhs
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ env.CR_IMAGE_NAME }}
          tags: ${{ env.IMAGE_TAG }}
          registry: ${{ env.CR_REGISTRY }}
